@{
    ViewData["Title"] = "Home Page";
}

<form action="../StarWars/GetPersonById" method="post">
    <input type="number" name="id" value="" placeholder="Character Id #" />
    <input type="submit" value="Submit" />

</form>
<p></p>
<form action="../StarWars/GetPlanetById" method="post">
    <input type="number" name="id" value="" placeholder="Planet Id #" />
    <input type="submit" value="Submit" />

</form>